---
import { defaultLang } from '../i18n/translations'
---
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="refresh" content="0;url=/website/en/" />
    <link rel="canonical" href="/website/en/" />
    <title>Redirecting...</title>
  </head>
  <body>
    <p>Redirecting to <a href="/website/en/">English version</a>...</p>
  </body>
</html>
